<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" />

    <!-- Mast link -->
    <link name="zed_mast_link">
        <visual>
            <geometry>
                <cylinder radius="0.02" length="0.30" />
            </geometry>
            <origin xyz="0 0 0.15" rpy="0 0 0" />
            <material name="grey" />
        </visual>
    </link>

    <!-- Mast joint - front center of rover, on top of body -->
    <joint name="zed_mast_joint" type="fixed">
        <parent link="base_link" />
        <child link="zed_mast_link" />
        <origin xyz="${base_length / 2.0 - 0.23} 0 ${base_height}" rpy="0 0 0" />
    </joint>

    <!-- ZED 2i on top of mast -->
    <joint name="zed_camera_joint" type="fixed">
        <parent link="zed_mast_link" />
        <child link="zed_camera_link" />
        <origin xyz="0 0 0.30" rpy="0 0 0" />
    </joint>

    <xacro:zed_camera name="zed" model="zed2i" enable_gnss="false">
        <gnss_origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:zed_camera>

</robot>
